
/* BANNER */
.banner {
    background: #5D5FEF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.content {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 76px;
    line-height: 78px;
    max-width: 666px;
    margin-top: 98px;
    margin-left: 53px;
}
.image--right {
    position: absolute;
    right: 0;
    margin: 64px 0 74px;
}
.icon--payment {
    display: flex;
    gap: 21px;
    margin: 35px 0 53px 60px;
}
.icon--store {
    object-fit: contain;
    max-width: 273px;
    width: 100%;
    height: auto;
}
